.dynamicParent{
    margin-top:5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    /* border:2px solid black;  */
}
.dynamiccontainer{
    width:50%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;  
}
.dynamicimgparent{
    
    height:50vh;
    border: 20px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(235, 242, 245);
    box-shadow: 5px 5px 10px gray;
    border-radius: 1%;
   
}
.dynamicimgparent img{
    width:80%;
    border:5px solid rgb(225, 235, 225);
    height:70%
}
.dynamicDescripition{
    width:40%; 
    /* border:2px solid blue; */
    line-height: 6vh;
 
}
.dynamicDescripition ul li{ 
    list-style: none;
    font-size: 20px;
    line-height: 4vh;
}
.dynamicDescripition ul h2{
    color:rgb(14, 14, 100);
}
.dynamicDescripition ul li span{
    font-size: 20px;
    font-weight: bold;
}
.dynamicButtonParent{
    display: flex;
    flex-direction:row; 
    justify-content: space-between;
 
}

.dynamicButtonParent .goBackbtn{
        width:50%;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(30, 81, 135);
        color:white;
        border:6px solid rgba(255, 255, 255, 0.59);
}
.dynamicaddtocartbtn
{       
        width:100%;
        font-size: 22px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(193, 206, 222);
        color:white;
        border:6px solid gray;
   
  
}
.dynamicaddtocartbtn:hover{
    background-color: thistle;
}
@media screen and (min-width:300px) and (max-width:667px){
      .dynamiccontainer{
        width:100%;
        flex-direction: row;
        justify-content: space-evenly;
        /* border:3px solid green; */
    }
    .dynamicimgparent{
        width:36%;
        height:50vh;
    }
    .dynamicimgparent img{
        width:90%;
    }
    .dynamicDescripition{
        width:60%;
        font-size: 14px;
        /* border:2px solid black; */
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
      
    }
    .dynamicDescripition ul h2 {
        font-size: 18px;
    }
    .dynamicDescripition ul li{
        font-size: 20px;
    }
    .dynamicButtonParent {
        display: flex;
        flex-direction: row;
    }
    .dynamicButtonParent .goBackbtn{
        /* width:40%; */
        height: 58%;
        font-size: 20px;
    }
    .dynamicaddtocartbtn
    {      height: 58%;
            font-size:20px ;
            /* width:100%; */
    }
}
@media screen and (min-width:668px) and (max-width:1180px){
    .dynamiccontainer{
        width:100%;
        flex-direction: row;
        justify-content: space-evenly;
        /* border:3px solid green; */
    }
    .dynamicimgparent{
        width:50%;
        height:50vh;
    }
    .dynamicimgparent img{
        width:100%;
    }
    .dynamicDescripition{
        width:40%;
        /* border: 2px solid green; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .dynamicDescripition ul h2 {
        font-size: 30px;
    }
    .dynamicDescripition ul li{
        font-size: 20px;
    }
    .dynamicButtonParent .goBackbtn{
        width:40%;
    }
    .dynamicaddtocartbtn
    {     
            width:90%;
    }
}

