
.containerFooter{
    min-height: 25vh;
    box-shadow: 2px 2px 10px gray;
    margin-top:10%;
    background-image: linear-gradient(145deg,rgb(188, 171, 171),rgb(173, 205, 222),rgb(173, 139, 173));
}
.rowFooter{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.div1Col{
    width:30%;
    font-size: 16px;
}
.div1Col h2{
    text-align: center;
}
.div2Col{
  
    width:40%;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5vh;
}
.div2Col_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.div2Col div{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    
}
.supportdiv{
    text-align: center;
    /* width:30%; */
}
.div3Col{
    font-size: 15px;;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 30%;
}
.div3Col h2{
    text-align:"center";
    color:'white';
    font-size:"32px";

}
.FollowUs{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    /* border:2px solid black; */
    justify-content:center;
    align-items:center ; 
}
.circleFollow{
    width:40px;
    border-radius: 50%;  
   
   
}
@media screen and (min-width:300px) and (max-width:668px){
    .containerFooter{
       min-height: 10vh;
    }
    .rowFooter{
        display: flex;
        flex-direction: row;
    }
    .div1Col{
        width:30%;
        font-size: 12px;
    }
    .div1Col h2{
        font-size: 12px;
    }
    .div2Col{
  
        width:28%;
        font-size:12px;
        font-family: 'Times New Roman', Times, serif;
        /* border:2px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        line-height: 2vh;
    }
    .div3Col{
        font-size: 12px;
        /* border:2px solid green; */
        width: 34%;
    }
  
    .div3Col h2 span{
        font-size: 12px;
        /* border: 2px solid red; */

    }
    .FollowUs{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content:center;
    
    }
    .circleFollow{
        width:20px;
        border-radius: 50%;    
    }
}


