body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.grocerysuperContainer{
    margin-top:5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20vw 5vh;
    justify-content: space-evenly;  
    /* border: 2px solid red;  */
}
.grocery-Sub-route-Container {
   
    height:42vh;
    width:15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border:4px solid skyblue ;
    background-color: rgb(210, 226, 231);
    box-shadow: 5px 5px 10px gray;
    
}
.grocery-Sub-route-Container ul li{
    font-size:20px;
    /* list-style: none; */
    line-height: 5vh;
}
.grocerycart-wrapper{
    width:75%;
    /* line-height: 1vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10vw 3vh;
    justify-content: space-evenly;
    align-items: center;
    min-height: 70vh;
    /* border:2px solid black; */
}
.groceryimg-wrapper{
    width:18vw;
    height: 60vh;
    border:2px gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:2% ;
    box-shadow: 5px 5px 10px gray;
    transition: 0.5s;

}
.groceryimg-wrapper:hover{
    transform: scale(1.1);
    background-color: white;
    box-shadow: 5px 5px 10px gray;
}

.groceryimg-wrapper img{
    width:15vw;
    height: 34vh;
}

.grocerytext-wrapper{
    display: flex;
    flex-direction: column;
   
    min-height: 30%;
    font:12%;
    line-height: 4vh;

    
}
.grocerytext-wrapper .Brand{
    font-weight: bold;
    border:2px solid lightblue
}
.grocerytext-wrapper .ProductName{
    border:2px solid green;
    font-weight: bold;
    font-size: 20px;
}
.grocerytext-wrapper .Price{
    font-weight: bold;
}

.grocerybtn-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap:2vw 2vh;

}
.grocerybtn-wrapper button{
   
    /* border:2px solid red; */
    font-size: 18px;
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6%;
    box-shadow: 5px 5px 10px gray;
    color:white;
 }

.grocerybtn-wrapper .groceryaddtocartbtn
{
    background-color:rgb(113, 131, 170);
    border: 4px solid rgb(14, 49, 71);
    color:white;
}
.grocerybtn-wrapper .groceryaddtocartbtn:hover{
    background-color: thistle;
}
.grocerybtn-wrapper .groceryremoveitembtn{
    background-color:rgb(195, 163, 209);
    border: 4px solid rgb(73, 79, 82);
    
}
.grocerybtn-wrapper .groceryremoveitembtn:hover{
    background-color: rgb(157, 71, 157);

}
@media screen and (min-width:300px) and (max-width:667px){
    .grocery-Sub-route-Container {
        display: none;
    }
    .grocerycart-wrapper{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .groceryimg-wrapper{
        width:80vw;
        
    }
    .groceryimg-wrapper img{
        width:60vw;
        height: 34vh;
        /* box-shadow: 5px 5px 10px gray; */
        background-color: aliceblue;
    }
}
@media screen and (min-width:668px) and (max-width:1180px)
{
    .grocery-Sub-route-Container {
        display: none;
    }
    .grocerycart-wrapper{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .groceryimg-wrapper{
        width:68vw;    
    }
    .groceryimg-wrapper img{
        width:60vw;
        height: 40vh;
        /* box-shadow: 5px 5px 10px gray; */
        background-color: aliceblue;
    }
    .grocerytext-wrapper{
        line-height: 4vh;
    }
    .grocerytext-wrapper .ProductName{
        font-size:30px ;
    }
    .grocerybtn-wrapper button{
        font-size: 30px;
    }
    .grocerytext-wrapper .Price{
        font-size:40px;
    }
} 