.homesuperContainer{
        margin-top:4%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* gap:18vw 5vh; */
        justify-content: space-evenly;
      
    }
.homeTopheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:2px solid blue; */
    line-height: 6vh;
    color: rgb(95, 19, 95);
    background-color: antiquewhite;
    
}
.homeTopheading h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.homeTopheading .top{
    color: rgb(185, 121, 185);
    font-size: 40px;
   
}
.homelaptopphoneParent{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border:2px solid red; */
    width:100vw;
    justify-content: center;
   
}
.hometopheading2parent{
background-color: rgb(229, 219, 32);
    display: flex;
    justify-content: center;
    /* border:2px solid blue; */
    width: 100%;
    
}
.homeTopheading2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:2px solid blue; */
    line-height: 6vh;
    color: darkmagenta;
    background-color: rgb(229, 219, 32);
}
.homeTopheading2 .top{
    color: rgb(185, 121, 185);
    font-size: 40px;
   
}
.homeimg-wrapper{
    display:flex;
    flex-direction: column;
    border:8px solid white;
    width:40vw;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    
}
.homeimageContainer img{
    display:flex;
    border:2px solid black;
    width:30vw;
    justify-content: center;
    align-items: center;
    border: 4px solid lightcyan;
}
.hometext-wrapper{
    display:flex;

}
.slideShowimage{
    height:60vh;
}

@media screen and (min-width:300px) and (max-width:667px){
    .homesuperContainer{
        margin-top:4%;
       
    }
.homeTopheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:2px solid blue; */
    line-height: 8vh;
    color: darkmagenta;
    background-color:white;
    
}
.homeTopheading h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
}
.homeTopheading .top{
    color: rgb(185, 121, 185);
    font-size: 20px;
   
}
.homelaptopphoneParent{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border:2px solid red; */
    width:100vw;
    justify-content: center;
    align-items: center;
   
}
.hometopheading2parent{
/* background-color: rgb(229, 219, 32); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid blue; */
    width: 100vw;
    
}
.homeTopheading2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:2px solid blue; */
    line-height: 6vh;
    color: darkmagenta;
    background-color: rgb(229, 219, 32);
}
.homeTopheading2 .top{
    color: rgb(185, 121, 185);
    font-size: 20px;
   
}
.homeTopheading2 h1{
    font-size: 20px;
}
.homeimg-wrapper{
    display:flex;
    flex-direction: column;
    border:20px solid white;
    width:80vw;
    justify-content: center;
    box-shadow: 5px 5px 10px gray;
    align-items: center;
    background-color: lightblue;
    
    
}
.homeimageContainer img{
    display:flex;
    
    /* border:2px solid black; */
    width:40vw;
    justify-content: center;
    align-items: center;
    border: 4px solid lightcyan;
}

.hometext-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.hometext-wrapper .Brand ,.hometext-wrapper .ProductName{
    font-size:20px;
}
.slideShowimage{
    height:30vh;
}
}
@media screen and (min-width:668px) and (max-width:1180px)
{
    
}